[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "==1.2.6"
certifi = "==2024.8.30"
cffi = "==1.17.0"
charset-normalizer = "==3.3.2"
crypto = "==1.4.1"
cryptography = "==43.0.1"
dynaconf = "==3.2.4"
faker = "==22.5.1"
idna = "==3.8"
iso3166 = "==2.1.1"
naked = "==0.1.32"
numpy = "==1.26.3"
pandas = "==2.2.0"
parse = "==1.20.2"
parse-type = "==0.6.3"
pyasn1 = "==0.6.0"
pycountry = "==24.6.1"
pycparser = "==2.22"
pycryptodomex = "==3.20.0"
python-dateutil = "==2.9.0.post0"
python-gnupg = "==0.5.2"
pytz = "==2024.1"
pyyaml = "==6.0.2"
requests = "==2.32.3"
rsa = "==4.9"
schwifty = "==2024.1.1.post0"
shellescape = "==3.8.1"
six = "==1.16.0"
tzdata = "==2024.1"
urllib3 = "==2.2.2"
virtualenv-clone = "==0.5.7"

[dev-packages]

[requires]
python_version = "3.11.4"
