[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "==1.2.6"
crypto = "==1.4.1"
cryptography = "==41.0.7"
dynaconf = "==3.2.4"
faker = "==20.1.0"
pandas = "==2.1.4"
pycryptodomex = "==3.19.1"
python-gnupg = "==0.5.1"
rsa = "==4.9"
schwifty = "==2023.11.2"
virtualenv-clone = "==0.5.7"
numpy = "==1.26.2"

[dev-packages]

[requires]
python_version = "3.10"
